:root {
    --color-primary: #08A6E4;
    --color-primary-shadow: rgba(7, 172, 230, .16);
    --color-redish: #FB3B64;
    --color-green: #55DFB4;
    --color-black: #000000;
    --color-grey: #A5A5A5;
    --color-light-grey: #F7F7F7;
    --color-white: #ffffff;
    --button-radius: 35px;
    --font-open-sans: "Open Sans", sans-serif;
    --font-raleway: "Raleway", sans-serif;

}



* {
    box-sizing: border-box;
}

.container {
    margin: 0 auto;
    width: 1352px;
}

body {
    font-family: var(--font-open-sans);
}

.page-header .container {
    height: 70px;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--color-white);
    position: relative;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
    padding: 16px 136px 17px 136px;

}


.page-logo {
    text-decoration: none;
    color: var(--color-primary);
    font-size: 32px;
    font-family: var(--font-raleway);
    font-weight: lighter;
}

.page-nav-list {
    display: flex;
}

.page-nav-list li {
    margin-left:95px;
}
.page-nav-list a {
    text-transform: uppercase;
    text-decoration: none;
    color: var(--color-grey);
    font-weight: 600;
    font-size: 11px;
    font-family: var(--font-open-sans);
    padding: 15px;
}
.page-nav-list a:hover {
    color: var(--color-black);
    border-bottom: var(--color-primary) solid 4px;
}

.banner {
    height: 712px;
    background-color: var(--color-white);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top:200px;
}

.banner-title {
    font-size: 49px;
    font-family: var(--font-raleway);
    color: var(--color-black);
}

.banner-text {
    font-size: 16px;
    font-family: var(--font-open-sans);
    color: var(--color-black);
    padding: 20px;
}

.article-btn {
    background-color: var(--color-primary);
    border-radius: var(--button-radius);
    color: var(--color-white);
    display: flex;
    justify-content: center;
    align-self: center;
    font-size: 16px;
    font-weight: bold;
    padding: 22px 157px 23px 157px;
    text-decoration: none;
    margin-top: 38px;

}

.statistics {
    height: 531px;
    background-color: var(--color-white);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top:100px;
}

.statistics-title {
    font-size: 36px;
    font-family: var(--font-raleway);
    color: var(--color-black);
}

.statistics .container {
    background-color: var(--color-white);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.stat-element {
    /*background-color: var(--color-white);
    background-size: cover;
    background-position: center;*/
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding:100px;
}

.stat-element-title {
    color: var(--color-black);
    font-size: 20px;
    font-family: var(--font-raleway);
    font-weight: 700;
    margin-bottom: 19px;
    margin-top: 19px;
}

.stat-element-text {
    color: var(--color-grey);
    font-size: 16px;
    font-weight: 400;
    font-family: var(--font-raleway);
}


.stats-circle{
    background-color: var(--color-primary);
    width: 63px;
    height: 63px;
    border-radius: 50%;
    position: relative;
}

.stats-photo-img {
    position: absolute;
}

.stats-circle1 {
    background-color: var(--color-redish);
}

.stats-circle2 {
    background-color: var(--color-primary);
}

.stats-photo-img1 {
    top: 0;
    left: 45%;
}

.stats-photo-img2 {
    top: 14px;
    left: 47%;
}

.stats-photo-img3 {
    top: 6px;
    left: 50%;
}



.stats-circle3 {
    background-color: var(--color-green);
}

.benefits {
    background-color: var(--color-light-grey);
    height: 1395px;
    background-size: cover;
    background-position: center;
    border-top: 1px solid #E8E9ED;

}

.benefits .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.benefit-layout {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    background-color: var(--color-white);
    margin: 37px;
    width: 1124px;
    height: 370px;
    padding: 35px;
    border: 1px solid #E8E9ED;
    border-radius: 5px;




}

.benefit1-macbook-img {
    width: 386px;
    height: 219px;
    transform: rotate(315deg);
    left: 6px;
}

.benefit1-shape {
    background-color: var(--color-redish);
    height: 254px;
    width: 254px;
    border-radius: 41px;
    transform: rotate(45deg);
    margin-right: 70px ;
}

.benefit2-phone-img {
    width: 426px;
    height: 328px;
}

.benefit2-shape {
    background-color: var(--color-primary) ;
    border-radius: 50%;
    width: 320px;
}

.benefit3-trumpet-img {
    width: 295px;
    height: 208px;
}

.benefits-title {
    color: var(--color-black);
    font-size:36px;
    font-family: var(--font-raleway);
    font-weight: 400;
    margin-bottom: 30px;

}

.benefits-text {
    color: var(--color-black);
    font-size: 16px;
    font-family: var(--font-open-sans);
    font-weight: 400;
    width: 416px;
    height: 66px;
}

.benefits-text::after {
    content: "";
    width: 332px;
    height: 4px;
    background-color: var(--color-redish);
    display: block;
    margin-top: 50px;

}

.benefits-text2::after {
    background-color: var(--color-primary);
}

.benefits-text3::after {
    background-color: var(--color-green);
}

.benefit-layout-third {
    background-color: var(--color-light-grey);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    margin: 37px;
    width: 1124px;
    height: 370px;


}

.benefit-layout-third-part1 {
    height: 370px;
    width: 623px;
    background-color: var(--color-white);
    padding-left: 35px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border: 1px solid #E8E9ED;
    border-radius: 5px;
}

.benefit-layout-third-part2 {
    height: 370px;
    width: 440px;
    background-color: var(--color-green);
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #E8E9ED;
    border-radius: 5px;

}

.pricing {
    background-color: var(--color-white);
    /*background-size: cover;
    background-position: center;*/
    border: 1px solid #E8E9ED;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.pricing-title {
    font-family: var(--font-raleway);
    font-size: 36px;
    font-weight: 400;
    margin-bottom: 50px;
    margin-top: 100px;


}

.pricing .container {
    height: 616px;
    width: 1266px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.pricing-boxes {
    height: 461px;
    width: 372px;
    border-radius: 18px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    padding: 10px;

}

.pricing-boxes--basic {
    border: 1px solid var(--color-redish);
}

.pricing-boxes--professional {
    height: 500px;
    width: 405px;
    border: 1px solid var(--color-primary);
    box-shadow: #07ACE629 5px 10px 27px;
}

.pricing-boxes--premium {
    border: 1px solid var(--color-green);
}

.pricing-details {
    font-family: var(--font-raleway);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pricing-option {
    font-size: 21px;
    font-weight: 700;
    color: var(--color-black);
    padding-top: 34px;
    padding-bottom: 14px;


}

.pricing-option-price {
    font-family: var(--font-open-sans);
    font-size: 46px;
    font-weight: 300;
    margin-top: 10px;

}

.pricing-limited-offer {
    font-weight: 700;
    font-size: 12px;
    margin-top: 5px;
    padding: 15px;


}

.pricing-option-price-basic {
    color: var(--color-redish);
}

.pricing-option-price-professional {
    color: var(--color-primary);
}

.pricing-option-price-premium {
    color: var(--color-green);
}

.pricing-items {
    /*margin: 25px;*/
}

.pricing-item {
    margin: 25px;
    font-size: 14px;
    font-family: var(--font-open-sans);
    color: var(--color-black);
}

.pricing-item::before {
    content: "";
    width: 11px;
    height: 11px;
    display: inline-block;
    margin-right: 10px;
    background-image: url("images/Checkmark-1.svg");
}

.btn {
    text-decoration: none;
    width: 165px;
    height: 50px;
    border-radius: 23px;
    font-weight: 700;
    color: var(--color-white);
    font-size: 13px;
    display: flex;
    justify-content: center;
    align-items: center;



}

.btn--basic {
    background-color: var(--color-redish);
}

.btn--professional {
    background-color: var(--color-primary);

}

.btn--premium {
    background-color: var(--color-green);

}

.contact {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact .container {
    height:396px;
    width: 896px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 100px;


}


.contact-title {
    font-family: var(--font-raleway);
    font-weight: 400;
    color: var(--color-black);
    font-size:49px;
    margin-bottom: 22px;


}

.contact-instructions {
    font-family: var(--font-open-sans);
    font-size: 16px;
    color:black;
    margin-bottom: 42px;
}

.contact-details {
    /*font-weight: 600;
    font-family: var(--font-open-sans);
    font-size: 16px;
    color: var(--color-grey);
    text-decoration: none;*/
}
.email-details {
    font-weight: 500;
    font-family: var(--font-open-sans);
    font-size: 16px;
    color: var(--color-grey);
    text-decoration: none;
    margin-right: 10px;
}

.phone-details {
    font-weight: 500;
    font-family: var(--font-open-sans);
    font-size: 16px;
    color: var(--color-grey);
    text-decoration: none;
}

.form {
    display: flex;
    flex-direction: column;
}

.form-field {
    display: flex;
    flex-direction: column;
}

.form-field:first-of-type {
    margin-bottom: 42px;
}

.form-label {
    font-weight: bold;
    text-transform: uppercase;
    color: var(--color-primary);
    line-height: 0.9rem;
    letter-spacing: 3px;
    font-size: 0.6875rem;
}

.form__input {
    border: none;
    border-bottom: 1px solid var(--color-grey);
    background-color: transparent;
    line-height: 2.625rem;
}



.consent__text {
    width:408px;
    height: 108px;

}

.btn--primary {
    background-color: var(--color-primary);
    color:var(--color-white);
    border-radius: 35px;
    font-size: 13px;
    font-weight: 600;
    border:none;
    margin-top: 70px;
    align-self: flex-end;


}

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px 137px 38px 137px;
    box-shadow: 0 -5px 40px #00000029;
    background: #F7F7F7;
}

.footer--copy--rights {
    font-size: 11px;
    font-weight: 400;
    color: var(--color-grey);
    margin-top:10px;
;
}